body {
  margin: 0;
}

.fullbox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
}

.center {
  width: 500px;
  height: 400px;
  background-color: hsl(244, 38%, 16%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 2em;
  font-family: url("https://fonts.google.com/specimen/Inter");
}

p {
  color: rgba(255, 255, 255, 0.459);
  text-align: justify;
}

.status {
  display: flex;
  margin-left: 40px;
}

h1,
p {
  margin-left: 80px;
}

ul {
  color: white;
  list-style-type: none;
}

label {
  opacity: 0.3;
  font-size: 0.9em;
}

li {
  font-size: 1.2em;
}

.hero {
  width: 500px;
  height: 400px;
  background: linear-gradient(
      to top,
      hsla(277, 64%, 61%, 0.5),
      hsl(277, 64%, 61%, 0.5)
    ),
    url("./images/image-header-desktop.jpg") no-repeat top center;
}

.evidence {
  color: purple;
}
